

<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="#">
  <!-- <link rel="stylesheet" href="niceStyles.css"> -->
</head>

<body style="background-color: rgb(84, 141, 194);">
    <h3> Test </h3>
    <div>
      <div style="text-align: center">
      <a href="#" class="link" onclick="linkResp()"> 
        <img src="../static/images/Flask.png" width="200px" alt="">
      </a>
      </div>
    </div>

    <!-- <script src="client.js"></script> -->
    <script src="../static/js/evListeners.js"></script>
</body>
</html>


